{
  "compact": true,
  "presets": [
    [
      "@babel/preset-env",
      { 
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"],
        },
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-dynamic-import",
      ],
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"],
    },
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "macros",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Config": "./src/config",
        "Redux": "./src/redux",
        "Asset": "./src/assets",
        "Pages": "./src/pages",
        "GlobalComponent": "./src/components",
        "PageLayouts": "./src/page-layouts",
        "MyData": "./src/pages/my-data",
        // "Helpers": "./src/helpers",
      }
    }],
  ]
}
